title: SimPort documentation
description: Docs for the portiest queue theory simulator
theme: just-the-docs

url: https://squalm.github.io/simport-docs

aux_links:
  Template Repository: https://github.com/PortSim/SimPort-Template.git

callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red